.flyout {
    position: relative;
    display: inline-block;
}

.flyout-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #c7d1dc;
    padding: 8px;
    margin: 8px;
    transition: background-color 0.3s ease;
}

/* Default and hover styles */
.flyout-icon {
    width: 28px;
    height: 28px;
    filter: invert(85%);
    color: inherit;
}

.flyout-icon-button:hover {
    background-color: #333a56;
}

/* Darker background when flyout is open */
.flyout-icon-button.active {
    background-color: #2a314b; /* Slightly darker shade for active state */
}

.flyout-menu {
    position: absolute;
    top: 55px;
    background-color: #23243a;
    color: #c7d1dc;
    border: 1px solid #44475a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 1000;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    text-align: left;
}

.flyout-menu.open {
    opacity: 1;
    max-height: 500px; /* Set a max-height large enough to accommodate all content */
}


.flyout-menu button,
.flyout-menu .upload-label {
    color: #c7d1dc;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    text-align: left;
    transition: background-color 0.2s ease;
}

.flyout-menu button:hover,
.flyout-menu .upload-label:hover {
    background-color: #333a56;
}

.upload-label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.upload-input {
    display: none;
}


/* Flyout positioning */
.flyout-container {
    position: absolute;
    top: 0px;
    z-index: 10000;

}


 [class*="flyout"][data-position="right"] {
    right: 0px; 
    text-align: right;
}


 [class*="flyout"][data-position="left"] {
    left: 0px; 
    text-align: left;
} 


.flyout-menu[data-position="left"] {
    left: 8px;
    text-align: left;
}


.flyout-menu[data-position="right"] {
    right: 8px;
} 