@font-face {
    font-family: 'Pathfinder2eActions';
    src: url('/fonts/pathfinder-2e-actions.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Global settings */
body {
    background-color: #1b1b2f; /* Dark background */
    color: #e1e1e6; /* Soft white text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    min-width: .25vw;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color: #c7d1dc; /* Softer white for headings */
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 10px;
    margin: 0px;
}

p {
    line-height: 1.6;
}

/* Links */
a {
    color: #67b7f7;
    text-decoration: none;
}

a:hover {
    color: #86d2ff;
}

/* Layout Containers */
.container {
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 100vh; /* Full viewport height to vertically center */
    text-align: center; /* Center text alignment within the container */
}

/* List styles */
ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    width: 100%;
    padding: 0.5em 0; /* Adjust padding as necessary */
    border-top: 1px solid #333; /* Only top border for shared effect */
}

li:first-child {
    border-top: none; /* Remove top border on the first item */
    align-items: left;
    align-content: left;
}

li:hover {
    border-top: 1px solid #555; /* Darker border on hover for a subtle effect */
    border-bottom: 1px solid #555; /* Make bottom border darker on hover */
}

/* Flex container styling */
.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px; /* Optional max-width for the entire flex container */
}

/* Set ItemList and SelectedItems widths */
.flex-container > * {
    flex-grow: 1;
    padding: 10px;
}

.SelectedItems {
    flex-basis: 33%; /* Ensure SelectedItems takes up at least one-third */
    min-width: 300px; /* Optional minimum width for responsiveness */
    background-color: #23243a; /* Optional background for visual distinction */
    padding: 15px;
    border-radius: 8px;
}

.shrinking-text {
    display: inline-block;
    transform-origin: left center;
}

/* styles/styles.css */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 8px;
    overflow: hidden; /* Prevents items from overflowing out of the header */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.header-item {
    cursor: pointer;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}



.selected-items-container {
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 450px;
    height: calc(100vh - 410px);
}

.footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 120px;
    position: fixed;
    bottom: 0; 
    width: 100%;
    padding: 10px; 
    text-align: center;
}

.footer-options {
    flex-direction: row;
}

.price-info {
    margin-bottom: 10px;
}

.container-inner {
    height: 145px;
}

.divider {
    width: 1px;
    height: 30px; /* Adjust height as needed */
    background-color: #1f1f31;
    margin: 0 10px;
}


.divider-horizontal {
    width: 100%;
    height: 1px; /* Adjust height as needed */
    background-color: #1f1f31;
    margin: 0 10px;
}
.refresh-button, .information-button {
    position: fixed;
    bottom: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-button {
    right: 20px;
}

.information-button {
    left: 20px;
}

.refresh-button:hover, .information-button:hover {
    background-color: #0056b3;
}

.refresh-icon {
    width: 20px;
    height: 20px;
}

